<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="/#!/">
	<img src="/modules/core/img/brand/favicon_light.png" width="30" height="30" class="d-inline-block align-top" alt="">
	Novelius
</a>
<div class="collapse navbar-collapse" id="navbar-header">
	<!-- Main site navigation -->
	<ul class="navbar-nav mr-auto" data-ng-if="menu.shouldRender(authentication.user);">
		<li class="nav-item"
				ng-repeat="item in menu.items | orderBy: 'position'"
				ng-if="item.shouldRender(authentication.user);"
				ng-switch="item.menuItemType"
				ui-route="{{item.uiRoute}}"
				ng-class="{active: ($uiRoute), dropdown: (item.menuItemType === 'dropdown')}"
				dropdown="item.menuItemType === 'dropdown'">
				<!-- Default navbar link -->
				<a ng-switch-default class="nav-link"  href="/#!/{{item.link}}">{{item.title}}</a>
				<!-- Dropdown navbar link -->
				<a ng-switch-when="dropdown" class="nav-link dropdown-toggle" href="/#!/{{item.link}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{item.title}}
				</a>
				<div ng-switch-when="dropdown" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/#!/{{subitem.link}}" ng-bind="subitem.title" ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}"></a>
				</div>
		</li>
	</ul>
	<!-- User navigation when logged out -->
	<ul class="navbar-nav mr-auto" ng-hide="authentication.user">
		<li class="nav-item" ui-route="/signup" ng-class="{active: $uiRoute}">
			<a class="nav-link" href="/#!/signup">Sign Up</a>
		</li>
		<li class="nav-item" ui-route="/signin" ng-class="{active: $uiRoute}">
			<a class="nav-link" href="/#!/signin">Sign In</a>
		</li>
	</ul>
	<!-- User navigation when logged in -->
	<ul class="navbar-nav float-right-sm" ng-show="authentication.user">
		<li class="nav-item dropdown">
			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ng-bind="authentication.user.displayName"></a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="supportedContentDropdown">
				<a class="dropdown-item" href="/#!/settings/profile">Edit Profile</a>
				<a class="dropdown-item" href="/#!/settings/accounts">Manage Social Accounts</a>
				<a class="dropdown-item" href="/#!/settings/password">Change Password</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/auth/signout">Signout</a>
			</div>
		</li>
	</ul>
</div>
