<section class="container" data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-xs-12">
				<img alt="Novelius" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
				<h1>Novelius</h1>
			</div>
		</div>
		<div class="row">
			<p class="lead">
				Read. Write. Review.
			</p>
		</div>
	</div>
	<div>
		<h2>A community for those who love stories.</h2>
		<p>Novelius is a place to write without pressure, get instant feedback, and build a following of loyal readers. If you're not ready to start writing, that's ok! You can read to your hearts content. Subsrcribe to local authors and follow along witht their stories as they write them!</p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Read
			</h2>
			<p>
				Follow along with people as they write their stories! If you don't have time every day to sit down and open up an entire novel,
					that's ok. At Novelius, authors can publish individual chapters and you will be able to follow along as they publish each chapter,
					be a part of a developing narrative, and even provide encouragement. Unless you contribute to the community yourself, your suggestions
					and review of the story are limited. And, as always at Novelius, this is a place for positive feedback and encouragement.
				</p>
			</div>
			<div class="col-md-4">
				<h2>
					Write
				</h2>
				<p>
					Write to your hearts content! Novelius provides a free, simple, and distraction free environment for you to tell your story to the world.
					If you're feeling brave enough, publish your chapters as you write them, build a loyal following, and continue to be motivated and encouraged to write.
					At Novelius, your ideas are yours to do with as you please: contribute to the community, or just use it as a place to find new ideas and
					jot down some of your own. The goal is to allow you a space to write, read others work, be inspired, and push your boundaries, all in a simple and easy
					to use environment.
				</p>
			</div>
			<div class="col-md-4">
				<h2>
					Review
				</h2>
				<p>
					As a writer, you have the opportunity to help others with their writing, whether that is just basic editing, spell-checking, or stylistic suggestions.
					Writing groups are a great way for young (and old!) writers to develop their passion, find new ideas, and be a part of an encouraging community. However, based
					on where you live or your schedule, you may find it unrealistic to spend your Saturday mornings at the local Y with a writing group. Novelius is
					the same thing, but without the physical limitations and the time requirements. Be a part of an ongoing discussion, join in writing exercises, and connect with
					other people who share your passion.
			</p>
		</div>
	</div>
</section>
