/* Novelius colors */
$novelius-dark: #161616;
$novelius-light: #EDF4ED;
$novelius-blue: #60A6BA;
$novelius-green: #79B791;
$novelius-lightgreen: #ABD1B5;

/* Novelius fonts */
$novelius-writing-font: Georgia, serif;
$novelius-writing-size: large;
