
<div id="editor" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" data-ng-init="findOneStory()" du-scroll-container>
  <div class="writer-pad-padding"></div>
  <div class="pageitem writer-pad" ng-repeat="chapter in chapters | orderBy:'number'" id="{{chapter._id}}" du-scrollspy>
    <div class="options pull-right">
      <a href="" tooltip-placement="bottom" tooltip="Delete Chapter" ng-click="removeChapter('{{chapter._id}}')">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      </a>
      <a href="" tooltip-placement="bottom" tooltip="Publish Chapter" ng-show="showPublish('{{chapter._id}}')" data-ng-click="togglePublished('{{chapter._id}}')">
        <span class="glyphicon glyphicon-upload" aria-hidden="true" ></span>
      </a>
      <a href="" tooltip-placement="bottom" tooltip="Unpublish Chapter" ng-show="showUnpublish('{{chapter._id}}')" data-ng-click="togglePublished('{{chapter._id}}')">
        <span class="glyphicon glyphicon-download" aria-hidden="true" ></span>
      </a>
    </div>
    <h2 contenteditable class="chapter-title text-center" data-ng-model="chapter.title" data-placeholder="{{defaultTitle}}"></h2>
    <hr>
    <p contenteditable class="chapter-text" data-ng-model="chapter.text" data-placeholder="{{chapter.defaultText}}"></p>
  </div>
</div>
<!-- dnd-moved="chapterList.splice($index, 1)" -->
<div class="col-md-1" role="complimentary">
  <div class="chapter-sidebar hidden-print hidden-xs hidden-sm affix-top">
    <span class="chapter-sidebar-header"><h4>Index</h4></span>
    <ul class="nav nav-stacked" role="tablist" dnd-list="chapters">
      <li id="{{chapter._id}}"
          class="chapter-navItem"
          data-ng-repeat="chapter in chapters | orderBy:'number'"
          dnd-draggable="chapter"
          dnd-moved="chapters.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-dragend="updateChapterNumbers(chapter._id)"
          >
          <span dnd-hangle class="handle glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          <dnd-nodrag>
            <span><a href="#{{chapter._id}}" du-smooth-scroll du-scrollspy>{{chapter.title}}</a></span>
          </dnd-nodrag>

      </li>
    </ul>
</ul>
  </div>
</div>
