<link rel="stylesheet" type="text/css" href="./modules/writer/css/writer.css">
<section data-ng-controller="WriterController">
  <div class="writer-header" ng-show="story">
    <div class="container col-lg-6 col-lg-offset-3" role="toolbar">
      <div class="story-header col-xs-6 col-lg-8">
        <h1 contenteditable class="story-title" data-ng-model="story.title"></h1>
        <span>by <span contenteditable class="story-author" data-ng-model="story.author"></span></span>
      </div>
      <div class="story-toolbar col-xs-6 col-lg-4">
        <div class="btn-toolbar pull-right" role="toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="decorate('Bold')">
              <span class="glyphicon glyphicon-bold"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="decorate('Italic')">
              <span class="glyphicon glyphicon-italic"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="decorate('indent')">
              <span class="glyphicon glyphicon-indent-left"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="decorate('outdent')">
              <span class="glyphicon glyphicon-indent-right"></span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="createChapter()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="updateAll()">
              <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="removeStory({{story._id}})">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ui-view></div>
  <div class="writer-footer affix-bottom" ng-show="story">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
      <span class="pull-right">
        Word Count: {{wc}}
      </span>
    </div>
  </div>
</section>
