<link rel="stylesheet" type="text/css" href="./modules/writer/css/writer.css">
<section data-ng-controller="WriterController">
  <div class="btn-toolbar" role="toolbar" style="padding-top:10px">
    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Select Story
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#!/writer/create">New Story</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" ng-repeat="story in stories"><a role="menuitem" tabindex="-1" href="#!/writer/story/{{story._id}}">{{story.title}}</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group" ng-show="story">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
          {{story.title}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#!/writer/story/{{story._id}}">Edit Details</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="removeStory({{story._id}})">Delete Story</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#!/writer/story/{{story._id}}/create">New Chapter</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" ng-repeat="chapter in chapters"><a role="menuitem" tabindex="-1" href="#!/writer/story/{{story._id}}/chapter/{{chapter._id}}">{{chapter.title}}</a></li>
        </ul>
      </div>
    </div>
    <div class="chapterTitle col-xs-6 pull-right" ng-show="chapter">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with segmented button dropdown" data-ng-model="chapter.title">
        <div class="input-group-btn dropdown">
          <button type="button" class="btn btn-default" ng-click="updateChapter()">Save</button>
          <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu3">
            <li><a href="" ng-click="removeChapter()">Delete Chapter</a></li>
            <li><a href="">Publish Chapter</a></li>
          </ul>
        </div>
      </div><!-- /.input-group -->
    </div>
  </div>
  <div ui-view></div>
</section>
