<div class="col-md-12">
  <form >
    <div class="writer-pad" ng-repeat="chapter in chapters" id="{{chapter._id}}">
      <div class="options pull-right">
        <a href="" tooltip-placement="bottom" tooltip="Delete" ng-click="removeChapter('{{chapter._id}}')">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </a>
        <a href="" tooltip-placement="bottom" tooltip="Publish">
          <span class="glyphicon glyphicon-upload" aria-hidden="true" ></span>
        </a>

      </div>
      <h2 contenteditable class="chapter-title text-center" data-ng-model="chapter.title"></h2>
      <hr>
      <p data-placeholder="Insert text here..." contenteditable class="chapter-text" data-ng-model="chapter.text"></p>
    </div>
  </form>
</div>
